%section#about{'data-image-src' => image_url('parallax_2.jpg'), 'data-parallax' => 'scroll'}
  .container
    .row
      .col-md-12.col-sm-12.text-center
        .section-title
          %strong О нас
          %h2.heading.bold Краткая информация
          %hr
        / Nav tabs
        %ul.nav.nav-tabs{:role => "tablist"}
          %li.active
            %a{"aria-controls" => "design", "data-toggle" => "tab", :href => "#design", :role => "tab"} Компания
          %li
            %a{"aria-controls" => "mobile", "data-toggle" => "tab", :href => "#mobile", :role => "tab"} Опыт работы
          %li
            %a{"aria-controls" => "social", "data-toggle" => "tab", :href => "#social", :role => "tab"} Деятельность
        / tab panes
        .tab-content
          #design.tab-pane.active{:role => "tabpanel"}
            %p Наша компания основана в 2000 году. Изначально, это была небольшая фирма, оказывающая ремонтно-строительные услуги. Со временем, создавая репутацию добросовестного исполнителя и подрядчика, мы расширились до крупной строительной компании. Также, попутно, были организованы пилорама и столярный цех.
            %p Наш сплоченный коллектив продуктивно выполняет поставленные перед ним задачи. Все сотрудники обладают высокой квалификацией, хорошо знают свои обязанности и максимально эффективно применяют свои знания и навыки на практике.
          #mobile.tab-pane{:role => "tabpanel"}
            %p За весь период деятельности нашего предприятия было выполнено большое количество строительно-монтажных работ по г. Котласу и Котласскому району.
            %p Самые крупные из них: Строительство многоквартирных жилых домов по пр. Мира д. 46 и пр. Мира д.46 А, устройство шатровых кровель зданий городской администрации, школы №18, лицея №3, детских садов "Теремок" и "Журавлик", капитальный ремонт кровель жилых домов по ул. Маяковского, Некрасова и т.д.
          #social.tab-pane{:role => "tabpanel"}
            %p На данный момент наша организация строит многоквартирные жилые дома в г. Котлас. Мы занимаемся производством и реализацией пиломатериала и столярных изделий различного вида, размера и уровня сложности.
            %p Организовываем продажу земельных участков, строительство жилых и нежилых помещений, инженерных сетей, а также благоустройство территории коттеджного поселка "Деревенька".
