%section#main
  .container
    .row
      .col-md-12.col-sm-12
        %h3 КОТТЕДЖНЫЙ ПОСЕЛОК
        %h1 ДЕРЕВЕНЬКА
        %hr
          %a.smoothScroll.btn.btn-danger{href: '#work'} Подробнее
          %a.smoothScroll.btn.btn-default{href: '#contact'} Связаться с нами
