%section#main
  .container
    .row
      .col-md-12.col-sm-12
        %h3 КОТТЕДЖНЫЙ ПОСЕЛОК
        %h1 ДЕРЕВЕНЬКА
        %hr
        .main-tagline
          БУДЬ БЛИЖЕ К ПРИРОДЕ!
        .main-wrapper-div
          %a.smoothScroll.btn.btn-default{href: '#work'} Подробнее
          %a.smoothScroll.btn.btn-default{href: '#contact'} Связаться с нами
