%section#map
  .container
    .row
      .col-md-12.col-sm-12.text-center
        .section-title
          %strong Карта
          %h2.heading.bold Местоположение
          %hr
        .section-title
          //%script{:async => "", :charset => "utf-8", :src => "https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=2z2HROH9NY2sJbp8AcPnLZsg7x48YSnK&width=1140&height=450&lang=ru_RU&sourceType=constructor&scroll=true", :type => "text/javascript"}
  #yandex-map

:javascript
  ymaps.ready(init);
  function init() {
    var myMap = new ymaps.Map('yandex-map', {
      center: [61.284340, 46.598892],
      zoom: 12
    }),
    myPolygon = new ymaps.Polygon([[
                    // Координаты вершин внешней границы многоугольника.
                    [ 61.2998, 46.5306 ],
                    [ 61.3000, 46.5307 ],
                    [ 61.3004, 46.5306 ],
                    [ 61.3018, 46.5300 ],
                    [ 61.3035, 46.5282 ],
                    [ 61.3051, 46.5257 ],
                    [ 61.3071, 46.5322 ],
                    [ 61.3061, 46.5333 ],
                    [ 61.3047, 46.5337 ],
                    [ 61.3035, 46.5348 ],
                    [ 61.3023, 46.5352 ],
                    [ 61.2998, 46.5362 ],
                    [ 61.3000, 46.5351 ],
                    [ 61.3001, 46.5339 ],
                    [ 61.3000, 46.5329 ],
                    [ 61.3000, 46.5321 ],
                    [ 61.2998, 46.5306 ]
                ]], {
                    //Свойства
                    hintContent: "Коттеджный поселок 'Деревенька'"
                }, {
                    // Опции.
                    // Цвет заливки (красный)
                    fillColor: '#FF0000',
                    // Цвет границ (синий)
                    strokeColor: '#0000FF',
                    // Прозрачность (полупрозрачная заливка)
                    opacity: 0.6,
                    // Ширина линии
                    strokeWidth: 2,
                    // Стиль линии
                    strokeStyle: 'solid'
                });

            myMap.controls.add("zoomControl");
            myMap.geoObjects
                .add(myPolygon);
  };
