%section#portfolio
  .container
    .row
      .col-md-12.col-sm-12
        .section-title
          %strong Реализованные объекты
          %h2.heading.bold Различного вида сложности
          %hr
        .iso-section
          .iso-box-section.wow.fadeIn{'data-wow-delay' => '0.9s'}
            .iso-box-wrapper.col4-iso-box
              = render partial: 'buildings', collection: @buildings, cached: true
