%section#team
  .container
    .row
      .col-md-12.col-sm-12.text-center
        = image_tag 'Genplan_new-cropped-formatted.jpg', usemap: '#map1', border: '0', ismap: 'ismap' , id: '#img1', class: 'mapper'
        %map#map1{name: 'map1'}
          %area#a1{alt:"LoL", shape:"poly", coords:"45,112,106,100,113,131,50,143"}
          %area#a2{alt:"LoL", shape:"poly", coords:"55,170,119,158,113,132,51,144"}
          %area#a3{alt:"LoL", shape:"poly", coords:"61,198,124,185,118,159,56,171"}
          %area#a4{alt:"LoL", shape:"poly", coords:"67,225,130,214,124,187,62,199"}
          %area#a5{alt:"LoL", shape:"poly", coords:"72,254,135,242,130,215,68,227"}
          %area#a6{alt:"LoL", shape:"poly", coords:"78,282,140,269,135,243,73,255"}
          %area#a7{alt:"LoL", shape:"poly", coords:"83,311,145,298,140,271,78,282"}
