%section#work
  .container
    .row
      .col-md-12.col-sm-12
        .section-title
          %strong Подробнее
          %h1.heading.bold Ключевые особенности
          %hr
      .col-lg-4.col-md-4.col-sm-4.wow.fadeInUp{"data-wow-delay" => "0.6s"}
        %i.icon-cloud.medium-icon
        %h3 WEB MARKETING
        %hr
          %p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteu sunt in culpa qui officia.
      .col-lg-4.col-md-4.col-sm-4.wow.fadeInUp{"data-wow-delay" => "0.9s"}
        %i.icon-mobile.medium-icon
        %h3 UI &amp; UX DESIGN
        %hr
          %p
            Digital Team is free responsive Bootstrap v3.3.5 layout from
            = succeed "." do
              %a{:href => "http://www.tooplate.com", :rel => "nofollow", :target => "_parent"} Tooplate
            Images are from
            %a{:href => "http://pixabay.com", :rel => "nofollow", :target => "_parent"} Pixabay
            free photo website.
      .col-lg-4.col-md-4.col-sm-4.wow.fadeInUp{"data-wow-delay" => "1s"}
        %i.icon-laptop.medium-icon
        %h3 ECOMMERCE
        %hr
          %p You can edit and use this template for your websites. Please tell your friends about Tooplate. Thank you for visiting our website.
      .col-lg-4.col-md-4.col-sm-4.wow.fadeInUp{"data-wow-delay" => "1s"}
        %i.icon-compass.medium-icon
        %h3 MOBILE APP
        %hr
          %p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteu sunt in culpa qui officia.
      .col-lg-4.col-md-4.col-sm-4.wow.fadeInUp{"data-wow-delay" => "1s"}
        %i.icon-chat.medium-icon
        %h3 SOCIAL MEDIA
        %hr
          %p
            You can easily change icons by looking at
            = succeed "." do
              %a{:href => "https://www.elegantthemes.com/blog/resources/how-to-use-and-embed-an-icon-font-on-your-website", :target => "_blank"} ET Line Icons
            Excepteu sunt in culpa qui officia. Duis aute irure dolor in reprehenderit.
      .col-lg-4.col-md-4.col-sm-4.wow.fadeInUp{"data-wow-delay" => "1s"}
        %i.icon-browser.medium-icon
        %h3 RESPONSIVE LAYOUT
        %hr
          %p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteu sunt in culpa qui officia.
