%section#work
  .container
    .row
      .col-md-12.col-sm-12
        .section-title
          %strong Подробнее
          %h2.heading.bold Ключевые особенности
          %hr
      .col-lg-4.col-md-4.col-sm-4.wow.fadeInUp{"data-wow-delay" => "0.6s"}
        %i.icon-map.medium-icon
        %h3 Расположение
        %hr
          %p Коттеджный поселок "Деревенька" расположен в очень живописном месте Нашего края, на берегу Северной Двины. В 20 минутах от г. Котласа.
      .col-lg-4.col-md-4.col-sm-4.wow.fadeInUp{"data-wow-delay" => "0.9s"}
        %i.icon-gears.medium-icon
        %h3 Коммуникации
        %hr
          %p К каждому участку подведены: электричество, вода и канализация. Вам остается только подключиться. Газоснабжение будет реализовано в 2017г.
      .col-lg-4.col-md-4.col-sm-4.wow.fadeInUp{"data-wow-delay" => "1s"}
        %i.icon-key.medium-icon
        %h3 Дом под ключ
        %hr
          %p Вам не придется ломать голову, выбирая подрядную организацию для постройки дома. Мы возведем дом любой сложности из кирпича, бревна или профилированного бруса с отделкой "под ключ".
      .col-lg-4.col-md-4.col-sm-4.wow.fadeInUp{"data-wow-delay" => "1s"}
        %i.icon-trophy.medium-icon
        %h3 Профессионализм
        %hr
          %p Наша компания - это дружный и слаженный коллектив. Мы команда профессионалов, которые знают толк в своем деле и работают в сфере строительства не первый год.
      .col-lg-4.col-md-4.col-sm-4.wow.fadeInUp{"data-wow-delay" => "1s"}
        %i.icon-layers.medium-icon
        %h3 Все для дома
        %hr
          %p У нас Вы можете приобрести пиломатериал для Вашего дома, бани, теплицы и т.д., а также заказать столярные изделия: беседку, колодец, лестницу, стол, скамью, кровать и многое другое.
      .col-lg-4.col-md-4.col-sm-4.wow.fadeInUp{"data-wow-delay" => "1s"}
        %i.icon-heart.medium-icon
        %h3 Семейный уют
        %hr
          %p "Деревенька" - это место, где Вы создаете для себя семейный очаг и уют на долгие годы. Побывав один раз, сюда захочется обязательно вернуться!
