%section#work
  .container
    .row
      .col-md-12.col-sm-12
        .section-title
          %strong Подробнее
          %h1.heading.bold Ключевые особенности
          %hr
      .col-lg-4.col-md-4.col-sm-4.wow.fadeInUp{"data-wow-delay" => "0.6s"}
        %i.icon-map.medium-icon
        %h3 Расположение
        %hr
          %p "Деревенька" расположена в очень живописном месте Нашего края, на берегу Северной Двины.
      .col-lg-4.col-md-4.col-sm-4.wow.fadeInUp{"data-wow-delay" => "0.9s"}
        %i.icon-gears.medium-icon
        %h3 Коммуникации
        %hr
          %pК каждому участку коттеджного поселка подведены: электричество, газ, вода и канализация. Вам остается только подключится.
      .col-lg-4.col-md-4.col-sm-4.wow.fadeInUp{"data-wow-delay" => "1s"}
        %i.icon-key.medium-icon
        %h3 Все в одном месте
        %hr
          %p Вам не придется ломать голову из-за выбора подрядной организации для постройки Вашего дома или бани. Приобретая участок, вы получаете добросовестного подрядчика в нашем лице.
      .col-lg-4.col-md-4.col-sm-4.wow.fadeInUp{"data-wow-delay" => "1s"}
        %i.icon-trophy.medium-icon
        %h3 Профессионализм
        %hr
          %p Наши сотрудники, все без исключения, от рабочего до руководителя - профессионалы своего дела, работающие в сфере строительства не первый год.
      .col-lg-4.col-md-4.col-sm-4.wow.fadeInUp{"data-wow-delay" => "1s"}
        %i.icon-layers.medium-icon
        %h3 Все для дома
        %hr
          %p У нас Вы найдете все необходимое для Вашего участка. Это может быть как пиломатериал для Вашего дома, бани, теплицы и т.д., так и столярные изделия: беседка, стол, скамья, лестница, кровать, колодец и т.д.
      .col-lg-4.col-md-4.col-sm-4.wow.fadeInUp{"data-wow-delay" => "1s"}
        %i.icon-heart.medium-icon
        %h3 Семейный уют
        %hr
          %p Приобретая участок в коттеджном поселке "Деревенька", Вы создаете свой семейный очаг и уют на долгие годы.
