%area#a1{alt:'', coords:'45,112,106,100,113,131,50,143', shape:'poly'}
%area#a2{alt:'', coords:'55,170,119,158,113,132,51,144', shape:'poly'}
%area#a3{alt:'', coords:'61,198,124,185,118,159,56,171', shape:'poly'}
%area#a4{alt:'', coords:'67,225,130,214,124,187,62,199', shape:'poly'}
%area#a5{alt:'', coords:'72,254,135,242,130,215,68,227', shape:'poly'}
%area#a6{alt:'', coords:'78,282,140,269,135,243,73,255', shape:'poly'}
%area#a7{alt:'', coords:'83,311,145,298,140,271,78,282', shape:'poly'}
%area#a8{alt: '', coords: '132,141,186,130,194,168,140,179', href: '#', shape: 'poly', title: ''}
%area#a9{alt: '', coords: '146,217,200,207,193,170,140,180', href: '#', shape: 'poly', title: ''}
%area#a10{alt: '', coords: '154,256,208,243,200,208,146,219', href: '#', shape: 'poly', title: ''}
%area#a11{alt: '', coords: '162,297,217,284,208,245,154,257', href: '#', shape: 'poly', title: ''}
%area#a12{alt: '', coords: '271,273,262,234,210,245,218,285', href: '#', shape: 'poly', title: ''}
%area#a13{alt: '', coords: '288,271,323,263,314,223,279,229', href: '#', shape: 'poly', title: ''}
%area#a14{alt: '', coords: '358,257,350,217,316,223,324,265', href: '#', shape: 'poly', title: ''}
%area#a15{alt: '', coords: '394,249,380,182,350,217,360,257', href: '#', shape: 'poly', title: ''}
%area#a16{alt: '', coords: '400,190,426,186,412,123,385,127', href: '#', shape: 'poly', title: ''}
%area#a17{alt: '', coords: '452,181,439,119,414,123,428,185', href: '#', shape: 'poly', title: ''}
%area#a18{alt: '', coords: '479,178,466,115,440,119,453,181', href: '#', shape: 'poly', title: ''}
%area#a19{alt: '', coords: '505,173,492,110,468,114,480,177', href: '#', shape: 'poly', title: ''}
%area#a20{alt: '', coords: '526,171,527,113,506,108,494,111,507,174', href: '#', shape: 'poly', title: ''}
%area#a21{alt: '', coords: '538,168,552,171,562,118,527,112,527,170', href: '#', shape: 'poly', title: ''}
%area#a22{alt: '', coords: '583,176,593,123,564,118,554,171', href: '#', shape: 'poly', title: ''}
%area#a23{alt: '', coords: '616,182,624,129,595,123,584,176', href: '#', shape: 'poly', title: ''}
%area#a24{alt: '', coords: '640,186,650,133,626,129,617,182', href: '#', shape: 'poly', title: ''}
%area#a25{alt: '', coords: '671,193,682,139,652,134,642,188', href: '#', shape: 'poly', title: ''}
%area#a26{alt: '', coords: '701,198,712,136,683,139,672,192', href: '#', shape: 'poly', title: ''}
%area#a27{alt: '', coords: '728,203,739,141,714,136,702,198', href: '#', shape: 'poly', title: ''}
%area#a28{alt: '', coords: '755,208,766,147,740,141,729,204', href: '#', shape: 'poly', title: ''}
%area#a29{alt: '', coords: '782,213,793,151,767,146,756,208', href: '#', shape: 'poly', title: ''}
%area#a30{alt: '', coords: '806,219,818,156,794,151,783,214', href: '#', shape: 'poly', title: ''}
%area#a31{alt: '', coords: '830,221,841,160,820,155,808,217', href: '#', shape: 'poly', title: ''}
%area#a32{alt: '', coords: '858,162,939,177,909,200,853,189', href: '#', shape: 'poly', title: ''}
%area#a33{alt: '', coords: '869,230,846,226,852,190,908,201', href: '#', shape: 'poly', title: ''}
%area#a34{alt: '', coords: '175,360,202,354,193,305,164,311', href: '#', shape: 'poly', title: ''}
%area#a35{alt: '', coords: '232,349,222,301,194,305,204,355', href: '#', shape: 'poly', title: ''}
%area#a36{alt: '', coords: '261,343,252,294,222,299,232,349', href: '#', shape: 'poly', title: ''}
%area#a37{alt: '', coords: '290,338,280,288,252,293,262,342', href: '#', shape: 'poly', title: ''}
%area#a38{alt: '', coords: '319,333,309,283,281,288,290,339', href: '#', shape: 'poly', title: ''}
%area#a39{alt: '', coords: '348,326,338,277,310,282,319,331', href: '#', shape: 'poly', title: ''}
%area#a40{alt: '', coords: '377,322,367,273,339,277,349,327', href: '#', shape: 'poly', title: ''}
%area#a41{alt: '', coords: '406,315,396,265,368,272,378,320', href: '#', shape: 'poly', title: ''}
%area#a42{alt: '', coords: '184,410,213,405,203,356,174,361', href: '#', shape: 'poly', title: ''}
%area#a43{alt: '', coords: '242,399,232,350,204,355,213,404', href: '#', shape: 'poly', title: ''}
%area#a44{alt: '', coords: '271,394,261,345,232,350,243,399', href: '#', shape: 'poly', title: ''}
%area#a45{alt: '', coords: '300,387,289,338,262,343,271,394', href: '#', shape: 'poly', title: ''}
%area#a46{alt: '', coords: '329,383,319,334,291,340,301,389', href: '#', shape: 'poly', title: ''}
%area#a47{alt: '', coords: '358,377,348,328,320,334,330,383', href: '#', shape: 'poly', title: ''}
%area#a48{alt: '', coords: '387,372,377,323,349,329,359,377', href: '#', shape: 'poly', title: ''}
%area#a49{alt: '', coords: '416,366,406,317,378,323,388,372', href: '#', shape: 'poly', title: ''}
%area#a50{alt: '', coords: '402,205,407,236,469,224,464,195', href: '#', shape: 'poly', title: ''}
%area#a51{alt: '', coords: '413,268,473,256,469,225,408,236', href: '#', shape: 'poly', title: ''}
%area#a52{alt: '', coords: '420,299,478,288,473,257,414,268', href: '#', shape: 'poly', title: ''}
%area#a53{alt: '', coords: '426,331,482,320,478,289,420,300', href: '#', shape: 'poly', title: ''}
%area#a54{alt: '', coords: '432,362,486,350,482,320,426,332', href: '#', shape: 'poly', title: ''}
%area#a55{alt: '', coords: '528,185,530,212,470,224,466,195', href: '#', shape: 'poly', title: ''}
%area#a56{alt: '', coords: '533,245,474,257,470,225,530,214', href: '#', shape: 'poly', title: ''}
%area#a57{alt: '', coords: '479,289,536,278,533,247,474,258', href: '#', shape: 'poly', title: ''}
%area#a58{alt: '', coords: '539,309,536,278,479,289,483,320', href: '#', shape: 'poly', title: ''}
%area#a59{alt: '', coords: '487,352,542,340,539,310,484,321', href: '#', shape: 'poly', title: ''}
%area#a60{alt: '', coords: '548,227,581,233,588,195,544,187', href: '#', shape: 'poly', title: ''}
%area#a61{alt: '', coords: '618,240,625,202,588,195,581,233', href: '#', shape: 'poly', title: ''}
%area#a62{alt: '', coords: '656,246,662,208,626,201,619,239', href: '#', shape: 'poly', title: ''}
%area#a63{alt: '', coords: '551,264,601,270,602,237,548,227', href: '#', shape: 'poly', title: ''}
%area#a64{alt: '', coords: '652,277,656,247,603,238,602,271', href: '#', shape: 'poly', title: ''}
%area#a65{alt: '', coords: '554,303,601,305,602,272,552,266', href: '#', shape: 'poly', title: ''}
%area#a66{alt: '', coords: '601,303,648,307,652,277,603,271', href: '#', shape: 'poly', title: ''}
%area#a67{alt: '', coords: '558,338,600,337,601,305,555,304', href: '#', shape: 'poly', title: ''}
%area#a68{alt: '', coords: '642,342,648,309,602,305,600,340', href: '#', shape: 'poly', title: ''}
%area#a69{alt: '', coords: '674,244,719,251,725,219,678,211', href: '#', shape: 'poly', title: ''}
%area#a70{alt: '', coords: '668,278,715,286,720,253,673,245', href: '#', shape: 'poly', title: ''}
%area#a71{alt: '', coords: '664,312,710,319,715,287,668,279', href: '#', shape: 'poly', title: ''}
%area#a72{alt: '', coords: '658,345,705,353,709,320,663,313', href: '#', shape: 'poly', title: ''}
%area#a73{alt: '', coords: '742,290,753,224,726,219,715,285', href: '#', shape: 'poly', title: ''}
%area#a74{alt: '', coords: '731,356,742,290,715,285,705,352', href: '#', shape: 'poly', title: ''}
%area#a75{alt: '', coords: '769,294,780,229,753,224,743,290', href: '#', shape: 'poly', title: ''}
%area#a76{alt: '', coords: '758,361,769,295,742,290,731,356', href: '#', shape: 'poly', title: ''}
%area#a77{alt: '', coords: '822,271,827,239,781,230,775,263', href: '#', shape: 'poly', title: ''}
%area#a78{alt: '', coords: '816,303,822,272,776,264,770,296', href: '#', shape: 'poly', title: ''}
%area#a79{alt: '', coords: '810,336,816,305,770,297,764,329', href: '#', shape: 'poly', title: ''}
%area#a80{alt: '', coords: '803,369,810,337,764,330,758,361', href: '#', shape: 'poly', title: ''}
%area#a81{alt: '', coords: '120,512,147,506,134,437,108,442', href: '#', shape: 'poly', title: ''}
%area#a82{alt: '', coords: '174,500,160,431,134,436,148,506', href: '#', shape: 'poly', title: ''}
%area#a83{alt: '', coords: '200,495,186,426,162,431,174,500', href: '#', shape: 'poly', title: ''}
%area#a84{alt: '', coords: '226,488,213,421,187,426,201,494', href: '#', shape: 'poly', title: ''}
%area#a85{alt: '', coords: '252,482,239,416,214,422,227,489', href: '#', shape: 'poly', title: ''}
%area#a86{alt: '', coords: '278,475,266,411,240,416,253,482', href: '#', shape: 'poly', title: ''}
%area#a87{alt: '', coords: '304,468,292,406,266,411,279,475', href: '#', shape: 'poly', title: ''}
%area#a88{alt: '', coords: '330,461,318,401,293,406,305,468', href: '#', shape: 'poly', title: ''}
%area#a89{alt: '', coords: '356,452,345,395,319,401,331,460', href: '#', shape: 'poly', title: ''}
%area#a90{alt: '', coords: '382,448,371,390,346,396,356,452', href: '#', shape: 'poly', title: ''}
%area#a91{alt: '', coords: '409,443,397,386,372,391,383,448', href: '#', shape: 'poly', title: ''}
%area#a92{alt: '', coords: '435,439,424,381,398,386,410,445', href: '#', shape: 'poly', title: ''}
%area#a93{alt: '', coords: '462,435,450,376,425,381,436,440', href: '#', shape: 'poly', title: ''}
%area#a94{alt: '', coords: '488,433,476,372,451,377,463,436', href: '#', shape: 'poly', title: ''}
%area#a95{alt: '', coords: '516,431,503,366,477,372,488,433', href: '#', shape: 'poly', title: ''}
%area#a96{alt: '', coords: '541,429,529,362,504,367,516,430', href: '#', shape: 'poly', title: ''}
%area#a97{alt: '', coords: '564,428,556,357,530,361,542,429', href: '#', shape: 'poly', title: ''}
%area#a98{alt: '', coords: '586,428,585,357,556,357,564,428', href: '#', shape: 'poly', title: ''}
%area#a99{alt: '', coords: '607,429,612,358,585,357,586,428', href: '#', shape: 'poly', title: ''}
%area#a100{alt: '', coords: '629,431,640,360,613,357,608,429', href: '#', shape: 'poly', title: ''}
%area#a101{alt: '', coords: '653,431,665,363,640,360,629,430', href: '#', shape: 'poly', title: ''}
%area#a102{alt: '', coords: '680,432,692,367,666,364,654,431', href: '#', shape: 'poly', title: ''}
%area#a103{alt: '', coords: '708,433,718,372,692,367,681,433', href: '#', shape: 'poly', title: ''}
%area#a104{alt: '', coords: '736,432,744,377,718,372,708,432', href: '#', shape: 'poly', title: ''}
%area#a105{alt: '', coords: '763,432,771,380,744,376,736,433', href: '#', shape: 'poly', title: ''}
%area#a106{alt: '', coords: '793,433,801,385,772,381,763,433', href: '#', shape: 'poly', title: ''}
%area#a107{alt: '', coords: '148,314,168,413,105,426,85,326', href: '#', shape: 'poly', title: ''}
