!!!
%html
  %head
    %meta{:charset => 'utf-8'}
    %title Деревенька
    %meta{:content => 'IE=Edge', 'http-equiv' => 'X-UA-Compatible'}
    %meta{:content => 'width=device-width, initial-scale=1', :name => 'viewport'}
    %meta{:content => '', :name => 'keywords'}
    %meta{:content => '', :name => 'description'}
  = yield