!!!
%html
  %head
    %meta{:charset => 'utf-8'}
    %title Коттеджный поселок Деревенька
    %meta{content: 'IE=Edge', 'http-equiv' => 'X-UA-Compatible'}
    %meta{ name: 'description', content: 'Коттеджный поселок - Деревенька. Котлас'}
    %meta{ name: 'keywords', content: 'котлас, деревенька, коттеджный поселок'}
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1'}
  = yield
